fastapi
uvicorn
sqlalchemy
pydantic
passlib
bcrypt
databases
websockets
JWT
OAuth2PasswordBeare
python-jose[cryptography]
pydantic[email]
python-multipart
fastapi==0.95.2
uvicorn[standard]==0.22.0
sqlalchemy==2.0.15
pydantic==1.10.12
request
pytest
